html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 0px;
}

h3 {
  text-align: center;
}

.square {
  width: 50%;
  padding: 1%;
  background-color: #f2f2f2;
  float: left;
  height: 500px;
  text-align: center;
  height: 50%;
  box-sizing: border-box;
}

.square-header {
  height: 10%;
}

#map {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.transaction {
  border-radius: 5px;
  margin: 1px;
  height: 40px;
  -webkit-transition: height 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: height 0.5s;
  width: 100%;
}

.transaction-extended {
  border-radius: 5px;
  margin: 1px;
  height: 40px;
}

.transaction-panel-header {
  height: 10%;
}

.transaction-image {
  height: 100%;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
  -webkit-transition: width 0.5s, height 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s;
}

.transaction-image-large {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

.transaction-merch-name {
  float: left;
  font-size: 20px;
  line-height: 200%;
  width: 60%;
}

.transaction-price {
  float: right;
  width: 20%;
  font-size: 20px;
  line-height: 200%;
  margin-right: 5px;
}

.transaction-left {
  float: left;
  overflow: scroll;
  width: 100%;
  height: 80%;
}

.transaction-container-left {
  float: left;
  width: 50%;
  height: 100%;
}

.transaction-container-right {
  float: right;
  width: 50%;
  height: 100%;
}

.transaction-right {
  float: right;
  width: 100%;
  overflow: scroll;
  height: 80%;
}

.account-square-left{
  float: left;
  width: 50%;
}

.account-square-right{
  float: right;
  width: 50%;
}
